@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*-------------------------------
     navigation menu bar  
 ------------------------------*/
 header{
     background-color: #0A0826;
 }
.top-menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: white;
    margin: 0 auto;
    padding: 0 30px;
}
.navigation{
    display: flex;
    gap: 15px;
    align-items: center;
}
.navigation li{
    list-style: none;
}

  /*--------------------------
           Main Body
       influencer-section 
  --------------------------*/
.sections{
    margin: 0px 200px 20px 200px;
}
  .influencer{
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
      height: 800px;
      margin-bottom: 50px;
  }
  .influencer-photo{
      background-image: url(images/Circle\ design.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center; 
      position: relative;
      top: 0px;  
  }
  .influencer-photo:hover{
      top: 10px;
  }
  .influencer-photo img{
    height: 400px;
    width: 400px;
  }
  .influencer-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 100px;
      position: relative;
      top: 0px;
  }
  .influencer-content:hover{
      top: 10px;
  }
  .influencer-title{
      font-size: 52px;
      font-weight: 700;
      line-height: 70px;
      color: #3a3a3a;
  }
  .influencer-content p{
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #3A3A3A;
  }
  .preebook-button button{
    padding: 10px 30px;
    background-color: #f3025a;
    font-size: 20px;
    color: white;
    border: solid #E02C6D 1px;
    border-radius: 41px;
    cursor: pointer;
    box-shadow: 0 5px 0 #920337 ;
    position: relative;
    top: 0px;
  }
  .preebook-button button:active{
      top: 5px;
  }

/*--------------------------------
         Product-section 
--------------------------------*/

.products-title h2{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #3A3A3A;
    padding: 30px 0;
    margin-bottom: 30px;
}
.all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 60px;
    border-radius: 5px;
    justify-content: center;


}
.product-banar{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.products{
    width: 329px;
    height: 476px;
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.product-info h2{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.color{
    color: #FB8200;
}
.fas{
    font-size: 10px;
}
.see-more{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 50px 90px 50px 0px;
}
.see-more a{
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
}
.product-info p{
    color: #3A3A3A;
}


/*----------------------------------
        shop detail 
----------------------------------*/
.shop-section{
    background-color: #0a0826af;

}
.shop-colums{
    margin: 0 200px;
}
.shop-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 50px;

}
.shop-detail h1, p, a{
    color: white;
}

.brands a{
    display: flex;
    flex-direction: column;
}
.brands a{
    text-decoration: none;
}
.our-detail{
    display: flex;
    flex-direction: column;
}
.our-detail a{
    text-decoration: none;
}

 /*---------------------------------
          footer section 
----------------------------------*/

footer{
    background-color: #0A0826;
    height: 239px;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    justify-content: center;
}
footer h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
footer p, .social{
    text-align: center;
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
}
.social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.social{
    background-color: #181835;
    padding: 10px;
    border-radius: 50px;
}


  /*-----------------------------
         Responsive css
  Mobile, table, or mini devices 
  ------------------------------*/

  @media (max-width:990px) and (min-width:690px) {
    .influencer{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-top: 50px;
      }
      .influencer-title{
          font-size: 28px;
          line-height: 50px;
      }
      .influencer-content>p{
          font-size: 14px;
          text-align: center;
      }
      .influencer-content{
          align-items: center;
          order: 1;
      }
      .influencer-photo{
          order: 0;
      }
      /* .Product section */
      .all-products{
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          grid-column-gap: 40px;
          grid-row-gap: 40px;
      }
      .products{
          width: 300px;
          height: 460px;
      }
      .product-banar img{
        width: 270px;
        height: 231px;
        border-radius: 5px;
    }
    .shop-detail{
        grid-column-gap: 30px;
    }
  }
  @media (max-width:850px){
    .influencer-content{
        align-items: center;
        order: 1;
    }
    .influencer-photo{
        order: 0;
    }
    .see-more{
        margin-right: -100px;
      }
    .shop-detail{
        justify-content: center;
      }
      .all-products{
        justify-content: center;
      }
  }

   /* mini mobile devices */
   @media only screen and (max-width:690px) {
    .compoany-name{
        font-size: 12px;
      }
      .navigation{
        gap: 8px;
      }
      .navigation li{
          font-size: 10px;
      }  
      .influencer{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-top: 50px;
      }
      .influencer-title{
          font-size: 28px;
          line-height: 50px;
      }
      .influencer-content>p{
          font-size: 14px;
          text-align: center;
      }
      .influencer-content{
          align-items: center;
      }
      .influencer-content{
        align-items: center;
        order: 1;
    }
    .influencer-photo{
        order: 0;
    }
      /* .Product section */
      .all-products{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
    .products{
        width: 329px;
        height: 476px;
        padding: 17px 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.15);
    }
    .product-banar img{
        width: 300px;
        height: 256px;
        border-radius: 5px;
    }
    .shop-detail{
        grid-column-gap: 20px;
    }

  }

  /* maximum 480px is all devices */
  @media (max-width:480px) {
    .influencer-content{
        align-items: center;
        order: 1;
    }
    .influencer-photo{
        order: 0;
    }
    .shop-detail{
        grid-template-columns: repeat(1, 1fr);
    }
    .company-address, .brands, .our-detail{
        margin-bottom: 50px;
    }
  }
